$primaryColor :  #ef5b4c;$primaryColorHover: rgb(195, 78, 62);$secondaryColor :  #007bff;$backgroundColor :  #fff;$backgroundColor2 :  #f9f9f3;$disableBtnColor : rgb(150, 149, 149);$disableBtnBackgroundColor : rgb(215, 215, 215);